<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ata_project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>error.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>serlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewVehicleServlet</display-name>
    <servlet-name>ViewVehicleServlet</servlet-name>
    <servlet-class>serlets.ViewVehicleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewVehicleServlet</servlet-name>
    <url-pattern>/ViewVehicleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>serlets.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.ata.serlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet1</display-name>
    <servlet-name>LoginServlet1</servlet-name>
    <servlet-class>com.ata.serlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet1</servlet-name>
    <url-pattern>/LoginServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateDriverServlet</display-name>
    <servlet-name>CreateDriverServlet</servlet-name>
    <servlet-class>com.ata.serlets.CreateDriverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateDriverServlet</servlet-name>
    <url-pattern>/CreateDriverServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.ata.serlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateVehicleServlet</display-name>
    <servlet-name>CreateVehicleServlet</servlet-name>
    <servlet-class>com.ata.serlets.CreateVehicleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateVehicleServlet</servlet-name>
    <url-pattern>/CreateVehicleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateRouteServlet</display-name>
    <servlet-name>CreateRouteServlet</servlet-name>
    <servlet-class>com.ata.serlets.CreateRouteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateRouteServlet</servlet-name>
    <url-pattern>/CreateRouteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DriverServlet</display-name>
    <servlet-name>DriverServlet</servlet-name>
    <servlet-class>com.ata.serlets.DriverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DriverServlet</servlet-name>
    <url-pattern>/DriverServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DriverViewServlet</display-name>
    <servlet-name>DriverViewServlet</servlet-name>
    <servlet-class>com.ata.serlets.DriverViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DriverViewServlet</servlet-name>
    <url-pattern>/DriverViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VehicleViewServlet</display-name>
    <servlet-name>VehicleViewServlet</servlet-name>
    <servlet-class>com.ata.serlets.VehicleViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VehicleViewServlet</servlet-name>
    <url-pattern>/VehicleViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RouteViewServlet</display-name>
    <servlet-name>RouteViewServlet</servlet-name>
    <servlet-class>com.ata.serlets.RouteViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RouteViewServlet</servlet-name>
    <url-pattern>/RouteViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PendingReservationServlet</display-name>
    <servlet-name>PendingReservationServlet</servlet-name>
    <servlet-class>com.ata.serlets.PendingReservationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PendingReservationServlet</servlet-name>
    <url-pattern>/PendingReservationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VehicleByType</display-name>
    <servlet-name>VehicleByType</servlet-name>
    <servlet-class>com.ata.serlets.VehicleByType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VehicleByType</servlet-name>
    <url-pattern>/VehicleByType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VehicleBySeats</display-name>
    <servlet-name>VehicleBySeats</servlet-name>
    <servlet-class>com.ata.serlets.VehicleBySeats</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VehicleBySeats</servlet-name>
    <url-pattern>/VehicleBySeats</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerAllRoutes</display-name>
    <servlet-name>CustomerAllRoutes</servlet-name>
    <servlet-class>com.ata.serlets.CustomerAllRoutes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerAllRoutes</servlet-name>
    <url-pattern>/CustomerAllRoutes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingServlet</display-name>
    <servlet-name>BookingServlet</servlet-name>
    <servlet-class>com.ata.serlets.BookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingServlet</servlet-name>
    <url-pattern>/BookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservationServlet</display-name>
    <servlet-name>ReservationServlet</servlet-name>
    <servlet-class>com.ata.serlets.ReservationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationServlet</servlet-name>
    <url-pattern>/ReservationServlet</url-pattern>
  </servlet-mapping>
</web-app>